
<div class="jumbotron">
	<div id="page-header">
		<h1>Progetto</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class='col-md-6'>
			<form>
				<label>
					<h2>Create A Board</h2>
				</label>
				<input type="input" id="board-name">
				<button type="submit" id="submit-board">Submit</button>
			</form>
		</div>
		<div class="col-md-6 text-center">
			<h1>BOARDS</h1>
				{{#each boards}}
					<a href="/board/{{this.id}}"><h2>{{this.name}}</h2></a>
				{{/each}}
		</div>
	</div>
</div>
